<div id="stockfish_exec">
</div>
<div class="container">
  <div class="row mt-3">
    <table cellspacing="0";cellpadding="0";>
      <thead>
      </thead>
      <tbody>
        <tr>
          <td><div class="bg-size square-size white-rook light-square">
            </div>
          </td>
          <td><div class="bg-size square-size white-knight dark-square">
            </div>
          </td>
          <td><div class="bg-size square-size white-bishop">
            </div>
          </td>
          <td><div class="bg-size square-size white-king">
            </div>
          </td>
          <td><div class="bg-size square-size white-queen">
            </div>
          </td>
          <td><div class="bg-size square-size white-bishop">
            </div>
          </td>
          <td><div class="bg-size square-size white-knight">
            </div>
          </td>
          <td><div class="bg-size square-size white-rook">
            </div>
          </td>
        </tr>
        <tr>
          <td><div class="bg-size square-size white-pawn">
            </div></td>
          <td><div class="bg-size square-size white-pawn">
            </div></td>
          <td><div class="bg-size square-size white-pawn">
            </div></td>
          <td><div class="bg-size square-size white-pawn">
            </div></td>
          <td><div class="bg-size square-size white-pawn">
            </div></td>
          <td><div class="bg-size square-size white-pawn">
            </div></td>
          <td><div class="bg-size square-size white-pawn">
            </div></td>
          <td><div class="bg-size square-size white-pawn">
            </div></td>
      </tr>
      <tr>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
      </tr>
      <tr>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
      </tr>
      <tr>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
      </tr>
      <tr>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
        <td class="square-size dark-square"></td>
      </tr>
      <tr>
        <td><div class="bg-size square-size black-pawn light-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-pawn dark-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-pawn light-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-pawn dark-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-pawn light-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-pawn dark-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-pawn light-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-pawn dark-square">
          </div>
        </td>
      </tr>
      <tr>
        <td><div class="bg-size square-size black-rook dark-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-knight light-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-bishop dark-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-king light-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-queen dark-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-bishop light-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-knight dark-square">
          </div>
        </td>
        <td><div class="bg-size square-size black-rook light-square">
          </div>
        </td>
      </tr>
  </div>
</div>
